Basic MERN Auth System/backend/node_modules
Basic MERN Auth System/backend/.env
Basic MERN Auth System/frontend/node_modules
Basic MERN Auth System/frontend/.env
# Ignore Python specific files/folders in web crawler project
web crawler project/venv/
web crawler project/__pycache__/
web crawler project/*.pyc